@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        max-width: 500px;
        width: 50%;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to St Louis Sites!</h1>

    <img src="\images\StLouisArch.jpg" />
    <br />
    <br />
    <p>Visiting St Louis and need some info on the best <a asp-controller="Location" asp-action="Index">places to go?</a></p>
    <p>St Louis native and want to discover <a asp-controller="Location" asp-action="Index">something new</a>?</p>
    <p>Want to <a asp-controller="Location" asp-action="Create">share</a> your favorite St Louis spot with others?</p>
    <p>St Louis Sites is the place to be!</p>
</div>