@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to St. Louis Sites!</h1>

    <a asp-controller="Location" asp-action="Create">Add Location</a>

    <p>This Site will list a variety of places that are worth visiting in St. Louis.</p>
    <p>Lorem Ipsum Initiative, citizen-centered; optimism inclusion, parse expose the truth, inspiring NGO families gender rights collective impact program area. Technology thought partnership capacity building, global policymaker, scalable progress synergy global agile. Overcome injustice; changemaker innovate, because accessibility. Natural resources, inspirational radical, overcome injustice strengthening infrastructure B-corp when best practices relief our work. Agile a thought leader ideate, LGBTQ+; outcomes, shared value, academic; shared unit of analysis incubator compelling changemaker collaborative consumption. A indicators; cultivate empower, global we must stand up issue outcomes save the world optimism.</p>
</div>